    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">APERITIVOS          </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>HESPERIDINA . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CINZANO/ SALON . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA SALON . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET BRANCA MEDIDA . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA . . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>8 HMNOS . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>GINEBRA . . . . . . . . .  $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VASO DE VINO        </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COPA DE VINO CROTTA . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE VASCO VIEJO . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE MOSCATO . . . . . $120</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS COMUNES 1/2 LI</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>VINO CROTTA 1/2 . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ 1/2 SALON . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 1/2 SALON . . $160</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS FINOS 1/2 LITR</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LOPEZ 3/4 SALON . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 3/4 SALON . . $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CORTE DE SODA . . . . . .  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO DE SODA . . . . .  $15</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO CROTTA 1 LITRO . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>MOSCATO 1/2 . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>MOSCATO 1 LITRO . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>GAS./SAB. 1 1/2 L.SALON . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA SALON 350 CM3 . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA 500 CM3 SALON . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SIFON SALON . . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADAS SALON . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA 500 ML SALON . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA 1500 . . . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>EXPRIMIDO DE NARANJA . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>MOSCATO X 1 LITRO . . . . $220</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICUADOS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LICUADOS VARIOS SALON . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO TUTTIFRUTI SALON  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>REC. LECHE/JUGO SALON . .  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>MILK SHAKE SALON . . . .  $170</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>STELLA/HEINEKE 1LTS SALON $330</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES/ISEMBE 1LTS SALON $270</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA . . . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA IMPERIAL 375CCSALON  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA SCHNEIDER SALON . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA HEINEKEN SALON . . . $185</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP/BALON (SALON) . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 TANQUE . . . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA 1LITRO . . . . . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA 1 1/2 LITROS . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL . . . . . . . .  $270</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICORES             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BAYLEYS . . . . . . . . . $145</li>                          
                <li class="text-center"><span class="fa-li"></span>TIA MARIA . . . . . . . . $115</li>                          
                <li class="text-center"><span class="fa-li"></span>MARIPOSA/LEGUI . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $115</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">WHISKY NACIONAL     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>J B WHISKY . . . . . . .  $145</li>                          
                <li class="text-center"><span class="fa-li"></span>BLENDERS PRIDE . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>OLD SMUGGLER . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CRIADORES . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISCOLA . . . . . . . .  $240</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">TRAGO LARGO COMBINAD</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FERNET COLA . . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN TONIC . . . . . . . . $240</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CHAMPAGNE Y SIDRA   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHANDON EXTR. BRUT . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE NACIONAL . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA REAL . . . . . . .  $425</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/posac/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
