    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POR. MUZZA/ SALON . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. GRAN POSTA SALON . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. JAMON / SALON . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. JAMON Y MORRON/SALON  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ANCHOAS/ SALON . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FUGAZZA/ SALON . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FUGAZZETTA SALON . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. NAPOLITANA / SALON .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. NAPO ESP/ SALON . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. CALABRESA/ SALON . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. PROVOLONE /SALON . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. PALMITOS / SALON . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ROQUEFORT/ SALON . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. CARIBENA/ SALON . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ROMANA / SALON . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC VERDE SALON . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. FUGAZET/JAMON SALON $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. CANCHA SALON . . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. PANCETA SALON . . .  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>POR AMERICANA SALON . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC CRUDO Y RUCULA SALON $100</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINAZETA SALON . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINAZETA C/ JAMON SALON  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. CUATRO QUESOS SALON $100</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA SALON . . . . . . .  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 01 MUZZARELLA SALON .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 02 GRAN POSTA SALON .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 03 JAMON. SALON . . .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 4 JAMON Y MORRON SALON $570</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 05 ANCHOAS. SALON . .  $450</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 06 FUGAZZA. SALON . .  $440</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 07 FUGAZZETA. SALON .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 08 NAPOLITANA . SALON  $570</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 9 NAPO. ESP. SALON . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 10 CALABRESA. SALON .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 11 PROVOLONE SALON . . $650</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 12 PALMITOS. SALON . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 13 ROQUEFORT. SALON .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 14 CARIBENA. SALON . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 15 ROMANA. SALON . . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 16 VERDE. SALON . . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 17 FUGAZETA/JAM SALON  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 18 CANCHA SALON . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 19 PANCETA SALON . . . $680</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 01 MUZZARELLA. SALON . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 02 GRAN POSTA. SALON . $540</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 03 JAMON. SALON . . .  $390</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 04 JAMON Y MORRONSALON $430</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 05 ANCHOAS SALON . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 06 FUGAZZA SALON . . . $340</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 07 FUGAZZETTA. SALON . $540</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 08 NAPOLITANA. SALON . $430</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 09 NAPO ESP. SALON . . $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 10 CALABRESA. SALON .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 11 PROVOLONE. SALON .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 12 PALMITOS. SALON . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 13 ROQUEFORT. SALON .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 14 CARIBENA. SALON . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 15 ROMANA. SALON . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 16 VERDE SALON . . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>CH .FUGAZETA /JAMON SALON $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 18 CANCHA SALON . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 19 PANCETA SALON . . . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 20 AMERICANA SALON . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 21 CALZONE SALON . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 22 CRUDO RUCULA SALON  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 25 CUATRO QUESOS SALO  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 20 AMERICANA SALON . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 21 CALZONE NAPO SALON  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 22 CRUDO/RUCULA SALON  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CH CUATRO QUESOS SALON .  $550</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADAS SALON C/U . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS DE J.Y.Q . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS DE POLLO . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS DE CARNE . . .   $70</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/posac/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
