    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE SALON . . . . . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA SALON . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE SALON . . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE C CREMA SALON  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE SALON . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE + 3 LUNAS .  $190</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE/LECHE TOS/QUES Y MER $220</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO SALON . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO ITALIANO . . .  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO SALON . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO C/CREMA SALON . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>TE O MATE SALON . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE SALON . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>TE SABORIZADO SALON . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/ GOTAS WHIS. SALON $150</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO LECH FRIA/CALI SALON $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA NESQUIK SALON $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFEC LECHE PAN MAN SALON $170</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO SALON . . . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE ESPECIAL SALON . . . $190</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS SALON C/U . .   $40</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">PASTELERIA ARTESANAL</h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MEDIALUNA MIXTA (1) . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNA SOLO QUESO . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE MIXTO . . . . . . . $250</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE QUESO SOLO . . . .  $210</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE CRUDO Y QUESO . . . $280</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO PALM/ANCHOAS . .   $50</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/posac/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
