    <section class="pricing py-5">                                                                                              
      <div class="container bg-danger">                                                                                         
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">CAFETERIA           </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFE SALON . . . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE CON CREMA SALON . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE SALON . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE DOBLE C CREMA SALON  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE SALON . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/LECHE + 3 LUNAS .  $180</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE/LECHE TOS/QUES Y MER $210</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO SALON . . . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAPUCHINO ITALIANO . . .  $140</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO SALON . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>AMERICANO C/CREMA SALON . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE O MATE SALON . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>TE C/LECHE SALON . . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>TE SABORIZADO SALON . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE C/ GOTAS WHIS. SALON $140</li>                          
                <li class="text-center"><span class="fa-li"></span>VASO LECH FRIA/CALI SALON $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOLATADA NESQUIK SALON $140</li>                          
                <li class="text-center"><span class="fa-li"></span>SUBMARINO SALON . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>CAFE ESPECIAL SALON . . . $185</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-danger text-uppercase text-center">PASTELERIA          </h5>                           
              <h6 class="card-title text-danger text-uppercase text-center">__cafeteria_</h6>                                   
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>MEDIALUNAS SALON C/U . .   $40</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/posac/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-success">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">APERITIVOS          </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>HESPERIDINA . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CINZANO/ SALON . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>GANCIA SALON . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>FERNET BRANCA MEDIDA . .  $130</li>                          
                <li class="text-center"><span class="fa-li"></span>VODKA . . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>8 HMNOS . . . . . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>GINEBRA . . . . . . . . .  $90</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VASO DE VINO        </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>COPA DE VINO CROTTA . . . $110</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE VASCO VIEJO . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>COPA DE MOSCATO . . . . . $120</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS COMUNES 1/2 LI</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>VINO CROTTA 1/2 . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>LOPEZ 1/2 SALON . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 1/2 SALON . . $160</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">VINOS FINOS 1/2 LITR</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LOPEZ 3/4 SALON . . . . . $360</li>                          
                <li class="text-center"><span class="fa-li"></span>VASCO VIEJO 3/4 SALON . . $250</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">BEBIDAS             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CORTE DE SODA . . . . . .  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO DE SODA . . . . .  $15</li>                          
                <li class="text-center"><span class="fa-li"></span>VINO CROTTA 1 LITRO . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>MOSCATO 1/2 . . . . . . . $140</li>                          
                <li class="text-center"><span class="fa-li"></span>MOSCATO 1 LITRO . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>GAS./SAB. 1 1/2 L.SALON . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA SALON 350 CM3 . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA 500 CM3 SALON . . .  $110</li>                          
                <li class="text-center"><span class="fa-li"></span>SIFON SALON . . . . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>SABORIZADAS SALON . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>GASEOSA 500 ML SALON . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>AGUA 1500 . . . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>EXPRIMIDO DE NARANJA . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>MOSCATO X 1 LITRO . . . . $220</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICUADOS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>LICUADOS VARIOS SALON . . $160</li>                          
                <li class="text-center"><span class="fa-li"></span>LICUADO TUTTIFRUTI SALON  $170</li>                          
                <li class="text-center"><span class="fa-li"></span>REC. LECHE/JUGO SALON . .  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>MILK SHAKE SALON . . . .  $170</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CERVEZAS            </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>STELLA/HEINEKE 1LTS SALON $330</li>                          
                <li class="text-center"><span class="fa-li"></span>QUILMES/ISEMBE 1LTS SALON $270</li>                          
                <li class="text-center"><span class="fa-li"></span>PATAGONIA . . . . . . . . $350</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA IMPERIAL 375CCSALON  $150</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA SCHNEIDER SALON . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>LATA HEINEKEN SALON . . . $185</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOPP/BALON (SALON) . . . $150</li>                          
                <li class="text-center"><span class="fa-li"></span>1/2 TANQUE . . . . . . .  $250</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA 1LITRO . . . . . .  $310</li>                          
                <li class="text-center"><span class="fa-li"></span>JARRA 1 1/2 LITROS . . .  $340</li>                          
                <li class="text-center"><span class="fa-li"></span>IMPERIAL . . . . . . . .  $270</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">LICORES             </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>BAYLEYS . . . . . . . . . $145</li>                          
                <li class="text-center"><span class="fa-li"></span>TIA MARIA . . . . . . . . $115</li>                          
                <li class="text-center"><span class="fa-li"></span>MARIPOSA/LEGUI . . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>RESERVA SAN JUAN . . . .  $115</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">WHISKY NACIONAL     </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>J B WHISKY . . . . . . .  $145</li>                          
                <li class="text-center"><span class="fa-li"></span>BLENDERS PRIDE . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>OLD SMUGGLER . . . . . .  $120</li>                          
                <li class="text-center"><span class="fa-li"></span>CRIADORES . . . . . . . . $120</li>                          
                <li class="text-center"><span class="fa-li"></span>WHISCOLA . . . . . . . .  $240</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">TRAGO LARGO COMBINAD</h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FERNET COLA . . . . . . . $240</li>                          
                <li class="text-center"><span class="fa-li"></span>GIN TONIC . . . . . . . . $240</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-success text-uppercase text-center">CHAMPAGNE Y SIDRA   </h5>                          
              <h6 class="card-title text-success text-uppercase text-center">__bebidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CHANDON EXTR. BRUT . . .  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>CHAMPAGNE NACIONAL . . .  $650</li>                          
                <li class="text-center"><span class="fa-li"></span>SIDRA REAL . . . . . . .  $425</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/posac/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-warning">                                                                                        
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">PIZZAS              </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>POR. MUZZA/ SALON . . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. GRAN POSTA SALON . .  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. JAMON / SALON . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. JAMON Y MORRON/SALON  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ANCHOAS/ SALON . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FUGAZZA/ SALON . . .  $60</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. FUGAZZETTA SALON . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. NAPOLITANA / SALON .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. NAPO ESP/ SALON . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. CALABRESA/ SALON . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. PROVOLONE /SALON . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. PALMITOS / SALON . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ROQUEFORT/ SALON . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. CARIBENA/ SALON . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>POR. ROMANA / SALON . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC VERDE SALON . . . .   $90</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. FUGAZET/JAMON SALON $110</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. CANCHA SALON . . .   $60</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. PANCETA SALON . . .  $95</li>                          
                <li class="text-center"><span class="fa-li"></span>2 PORC. MUZZA + BEB.SALON $200</li>                          
                <li class="text-center"><span class="fa-li"></span>POR AMERICANA SALON . . .  $80</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC CRUDO Y RUCULA SALON $100</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINAZETA SALON . . . . .  $90</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINAZETA C/ JAMON SALON  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>PORC. CUATRO QUESOS SALON $100</li>                          
                <li class="text-center"><span class="fa-li"></span>FAINA SALON . . . . . . .  $40</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 01 MUZZARELLA SALON .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 02 GRAN POSTA SALON .  $720</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 03 JAMON. SALON . . .  $500</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 4 JAMON Y MORRON SALON $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 05 ANCHOAS. SALON . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 06 FUGAZZA. SALON . .  $430</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 07 FUGAZZETA. SALON .  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 08 NAPOLITANA . SALON  $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 9 NAPO. ESP. SALON . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 10 CALABRESA. SALON .  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 11 PROVOLONE SALON . . $600</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 12 PALMITOS. SALON . . $750</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 13 ROQUEFORT. SALON .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 14 CARIBENA. SALON . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 15 ROMANA. SALON . . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 16 VERDE. SALON . . .  $660</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 17 FUGAZETA/JAM SALON  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 18 CANCHA SALON . . .  $420</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 19 PANCETA SALON . . . $660</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 01 MUZZARELLA. SALON . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 02 GRAN POSTA. SALON . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 03 JAMON. SALON . . .  $360</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 04 JAMON Y MORRONSALON $400</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 05 ANCHOAS SALON . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 06 FUGAZZA SALON . . . $330</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 07 FUGAZZETTA. SALON . $530</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 08 NAPOLITANA. SALON . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 09 NAPO ESP. SALON . . $460</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 10 CALABRESA. SALON .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 11 PROVOLONE. SALON .  $460</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 12 PALMITOS. SALON . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 13 ROQUEFORT. SALON .  $510</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 14 CARIBENA. SALON . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 15 ROMANA. SALON . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 16 VERDE SALON . . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>CH .FUGAZETA /JAMON SALON $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 18 CANCHA SALON . . .  $320</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 19 PANCETA SALON . . . $510</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 20 AMERICANA SALON . . $550</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 21 CALZONE SALON . . . $950</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 22 CRUDO RUCULA SALON  $800</li>                          
                <li class="text-center"><span class="fa-li"></span>GR 25 CUATRO QUESOS SALO  $720</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 20 AMERICANA SALON . . $400</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 21 CALZONE NAPO SALON  $750</li>                          
                <li class="text-center"><span class="fa-li"></span>CH 22 CRUDO/RUCULA SALON  $600</li>                          
                <li class="text-center"><span class="fa-li"></span>CH CUATRO QUESOS SALON .  $520</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">EMPANADAS           </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>EMPANADAS SALON C/U . . .  $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS DE J.Y.Q . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS DE POLLO . . .   $70</li>                          
                <li class="text-center"><span class="fa-li"></span>EMPANADAS DE CARNE . . .   $70</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card">                                                                                                  
              <div class="card-body">                                                                                           
              <h5 class="card-title text-warning text-uppercase text-center">SANDWICH            </h5>                          
              <h6 class="card-title text-warning text-uppercase text-center">__comidas___</h6>                                  
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>CAFEC LECHE PAN MAN SALON $160</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNA MIXTA (1) . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>MEDIALUNA SOLO QUESO . .   $80</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE MIXTO . . . . . . . $220</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE QUESO SOLO . . . .  $200</li>                          
                <li class="text-center"><span class="fa-li"></span>ARABE CRUDO Y QUESO . . . $260</li>                          
                <li class="text-center"><span class="fa-li"></span>RECARGO PALM/ANCHOAS . .   $50</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/posac/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
    <section class="pricing py-5">                                                                                              
      <div class="container bg-info">                                                                                           
        <div class="row">                                                                                                       
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">POSTRES             </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>FLAN CASERO SALON . . . . $100</li>                          
                <li class="text-center"><span class="fa-li"></span>BUDIN DE PAN SALON . . .  $100</li>                          
                <li class="text-center"><span class="fa-li"></span>SOPA INGLESA SALON . . .  $145</li>                          
                <li class="text-center"><span class="fa-li"></span>DURAZNO/ANANA E/ALM SALON $145</li>                          
                <li class="text-center"><span class="fa-li"></span>QUESO Y DULCE SALON . . . $155</li>                          
                <li class="text-center"><span class="fa-li"></span>CHOCOTORTA SALON . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>REC CREMA/DULCE SALON . .  $20</li>                          
                <li class="text-center"><span class="fa-li"></span>REC. MIXTO SALON . . . .   $40</li>                          
                <li class="text-center"><span class="fa-li"></span>TIRAMISU SALON . . . . .  $160</li>                          
                <li class="text-center"><span class="fa-li"></span>DON PEDRO SALON . . . . . $290</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
          <div class="col-lg-4">                                                                                                
            <div class="card mb-5 mb-lg-0">                                                                                     
              <div class="card-body">                                                                                           
              <h5 class="card-title text-info text-uppercase text-center">COPAS HELADAS       </h5>                             
              <h6 class="card-title text-info text-uppercase text-center">__postres___</h6>                                     
              <hr>                                                                                                              
              <ul class="fa-ul">                                                                                                
                <li class="text-center"><span class="fa-li"></span>HELADO 1 BOCHA SALON . .  $195</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 2 BOCHAS SALON . . $230</li>                          
                <li class="text-center"><span class="fa-li"></span>HELADO 3 BOCHAS SALON . . $260</li>                          
              </ul>                                                                                                             
              </div>                                                                                                            
            </div>                                                                                                              
          </div>                                                                                                                
              <a href="/posac/<%= '1' %>" class="btn btn-block btn-primary text-uppercase">Incio</a>                            
        </div>                                                                                                                  
      </div>                                                                                                                    
    </section>                                                                                                                  
